:root {
  --color-primary: #0f4f9d;
  --color-secondary: #d9a12e;
  --color-text: #000000;
  --scale-font: 0px;
  --cambria-normal: "Cambria-Regular";
  --cambria-bold: "Cambria-Bold";
  --cambria-italic: "Cambria-Italic";
}

#analistis-list .ls-breadcrumbs {
  position: relative;
  overflow: auto;
  display: flex;
  align-items: center;
  height: 44px;
  margin-bottom: 46px;
  background: #f3f3f3;
}
#analistis-list .ls-breadcrumbs ul {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding: 13px 0;
  width: max-content;
}
#analistis-list .ls-breadcrumbs ul li {
  position: relative;
}
#analistis-list .ls-breadcrumbs ul li:not(:last-child) {
  padding-right: 24px;
}
#analistis-list .ls-breadcrumbs ul li:not(:last-child)::after {
  content: "\f105";
  position: absolute;
  font-size: 15px;
  right: 8px;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  line-height: 17px;
  color: #7a7a7a;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#analistis-list .ls-breadcrumbs ul li a {
  font-family: var(--cambria-normal);
  font-size: 15px;
  line-height: 17px;
  color: #7a7a7a;
  text-decoration: none;
}
#analistis-list .ls-breadcrumbs ul li a:hover {
  color: #0f4f9d;
}
#analistis-list .wrapper-title-page .title-page {
  font-family: "Rift";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  color: #411136;
}
@media (min-width: 768px) {
  #analistis-list .wrapper-title-page .title-page {
    font-size: 50px;
    line-height: 60px;
  }
}
#analistis-list .wrapper-title-page .post-detail-content {
  font-family: var(--cambria-normal);
  font-size: calc(17px + var(--scale-font));
  line-height: calc(24px + var(--scale-font));
  color: #333333;
  margin-bottom: 15px;
}
#analistis-list .wrapper-title-page .post-detail-content .more {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  transition: 0.5s;
  position: relative;
}
@media (min-width: 768px) {
  #analistis-list .wrapper-title-page .post-detail-content .more {
    font-size: 16px;
  }
}
#analistis-list .wrapper-title-page .post-detail-content .more.more2 {
  transition: 0.5s;
}
#analistis-list .wrapper-title-page .post-detail-content .more.more2::before {
  content: "";
  position: absolute;
  height: 120px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.95) 60.29%, rgba(255, 255, 255, 0) 118.14%, rgba(255, 255, 255, 0.23951) 118.14%);
}
#analistis-list .wrapper-title-page .post-detail-content .more .morecontent {
  transition: 0.5s;
}
#analistis-list .wrapper-title-page .post-detail-content .more .morecontent span {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  transition: 0.5s;
  position: relative;
}
@media (min-width: 768px) {
  #analistis-list .wrapper-title-page .post-detail-content .more .morecontent span {
    font-size: 16px;
    display: none;
  }
}
#analistis-list .wrapper-title-page .post-detail-content .more .morelink {
  margin: 0 auto;
  position: relative;
  margin-top: 14px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  padding: 8px 16px;
  width: 129px;
  background: #FFFFFF;
  border: 1px solid #411136;
  text-align: left;
}
@media (min-width: 768px) {
  #analistis-list .wrapper-title-page .post-detail-content .more .morelink {
    font-size: 15px;
    padding: 8px 18px;
  }
}
#analistis-list .wrapper-title-page .post-detail-content .more .morelink.less {
  padding: 8px 24px;
}
#analistis-list .wrapper-title-page .post-detail-content .more .morelink::after {
  content: "";
  width: 20px;
  height: 20px;
  top: 12px;
  bottom: 0px;
  margin-left: 10px;
  position: absolute;
  background-size: 14px;
  background-repeat: no-repeat;
  background-image: url(../../images/arrow-right.png);
}
#analistis-list .wrapper-title-page .post-detail-content .more .morelink:hover {
  color: #C5AA5F;
  border: 1px solid #C5AA5F;
}
#analistis-list .wrapper-title-page .post-detail-content .more .morelink:hover::after {
  content: "";
  width: 20px;
  height: 20px;
  top: 12px;
  bottom: 0px;
  margin-left: 10px;
  position: absolute;
  background-size: 14px;
  background-repeat: no-repeat;
  background-image: url(../../images/arrow-right-yellow.png);
}
#analistis-list .wrapper-content-analisis-list {
  margin-top: 51px;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item {
  transition: 0.5s;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item:hover .analisis-item-info {
  cursor: default;
  border: 1px solid #C5AA5F;
  border-top: none;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item:hover .analisis-item-info .analisis-item-info-name {
  color: #C5AA5F;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item:hover .analisis-item-info .analisis-item-info-detail .view-more {
  color: #C5AA5F;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item .analisis-item-image {
  width: 100%;
  object-fit: contain;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item .analisis-item-info {
  border: 1px solid #CACACA;
  border-top: none;
  padding: 15px 25px 28px 21px;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item .analisis-item-info .analisis-item-info-name {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item .analisis-item-info .analisis-item-info-description {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 17px;
  color: #000000;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item .analisis-item-info .analisis-item-info-detail {
  width: fit-content;
  margin-top: 15px;
  cursor: pointer;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item .analisis-item-info .analisis-item-info-detail .view-more {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  font-size: 15px;
  color: #333333;
}
#analistis-list .wrapper-content-analisis-list .wrap-analisis-item .analisis-item-info .analisis-item-info-detail .view-more > img {
  margin-bottom: 2px;
  margin-left: 4px;
  width: 12px;
  object-fit: contain;
}/*# sourceMappingURL=analistis-list.css.map */