@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700&display=swap");

@font-face {
  font-family: "Google Sans";
  src: url("../fonts/GoogleSans/GoogleSansOTF/GoogleSans-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Google Sans Bold";
  src: url("../fonts/GoogleSans/GoogleSansOTF/GoogleSans-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Google Sans Italic";
  src: url("../fonts/GoogleSans/GoogleSansOTF/GoogleSans-Italic.otf") format("truetype");
}

@font-face {
  font-family: "Google Sans Bold Italic";
  src: url("../fonts/GoogleSans/GoogleSansOTF/GoogleSans-BoldItalic.otf") format("truetype");
}

@font-face {
  font-family: "Rift";
  src: url("../fonts/RIFT.OTF") format("truetype");
}

@font-face {
  font-family: "iCiel Alina";
  src: url("../fonts/iCiel-Alina.otf") format("truetype");
}
