#service-detail {
  margin-bottom: 90px;
  .ls-breadcrumbs {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    margin-bottom: 60px;
    background: #f3f3f3;

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      list-style-type: none;
      padding: 13px 0;
      width: max-content;

      li {
        position: relative;

        &:not(:last-child) {
          padding-right: 24px;

          &::after {
            content: "\f105";
            position: absolute;
            font-size: 15px;
            right: 8px;
            top: 50%;
            left: auto;
            transform: translateY(-50%);
            line-height: 17px;
            color: #7a7a7a;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }

        a {
          font-family: var(--cambria-normal);
          font-size: 15px;
          line-height: 17px;
          color: #7a7a7a;
          text-decoration: none;

          &:hover {
            color: #c5aa5f;
          }
        }
      }
    }
  }
  .wrapper-content-project-detail {
    .content-project-detail {
      .title-project-detail {
        font-family: "Google Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #333333;
        margin-bottom: 9px;
      }

      .wrap-info-view-project-detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 6px 0;
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        margin-bottom: 13px;
        row-gap: 10px;

        &:last-child {
          margin-bottom: 24px;
        }

        .wrap-info-view-project-detail-left {
          display: flex;
          align-items: center;

          .view-count {
            display: flex;
            align-items: center;

            > div {
              > img {
                width: 12px;
                object-fit: contain;
                margin-right: 4px;
              }
              &:not(:last-child) {
                margin-right: 15px;
              }

              span {
                font-size: 13px;
                line-height: 23px;
                color: #878787;
              }
            }
          }
        }

        .wrap-info-view-project-detail-right {
          display: flex;
          align-items: center;

          span {
            font-size: 13px;
            line-height: 15px;
            color: #999999;
            margin-right: 9px;
            cursor: pointer;
          }

          .cover {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: #999999;
            width: 20px;
            height: 20px;
            background: #eaeaea;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 5px;
            transition: 0.2s;
            > img {
              width: 8px;
              object-fit: contain;
            }
            &:hover {
              color: #fff;
              background-color: #c5aa5f;
            }

            &:last-child {
              margin-right: 0;
            }
          }

          a {
            display: flex;
            align-items: center;
            height: 20px;
            padding: 5px 10px;
            background: #eaeaea;
            border-radius: 20px;
            font-size: 10px;
            line-height: 12px;
            color: #999999;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
              color: #fff;
              background-color: #c5aa5f;
            }

            i {
              margin-right: 4px;
            }

            &:not(:last-child) {
              margin-right: 2px;
            }
          }
        }
      }

      .project-detail-content {
        font-family: var(--cambria-normal);
        font-size: calc(17px + var(--scale-font));
        line-height: calc(24px + var(--scale-font));
        color: #333333;
        margin-bottom: 15px;
        // .project-detail-detail-bold{
        //     font-weight: 700;
        // }
        // .project-detail-detail-content-item{
        //     margin-top: 24px;
        //     &.project-detail-detail-content-thin{
        //         font-weight: 400;
        //     }
        // }
        b {
          font-family: var(--cambria-bold);
        }
        .wrapper-img {
          margin: 16px 0;
          @media (min-width: 768px) {
            margin: 32px 0;
          }
          > img {
            width: 100%;
          }
        }
      }
    }
    .wrapper-heading-form {
      .wrapper-heading-form-title {
        font-family: "Google Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #333333;
      }
      .wrapper-heading-info {
        background: #ececec;
        border-radius: 10px;
        padding: 16px 13px;
        margin-top: 9px;
        .wrapper-heading-info-item {
          &:last-child {
            margin-top: 10px;
          }
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .wrapper-img-info {
            width: 40px;
            height: 40px;
            margin-right: 8px;
            background: #ffffff;
            border: 1px solid #c5aa5f;
            justify-content: center;
            border-radius: 50%;
            display: flex;
            > img {
              width: 20px;
              height: 20px;
              margin: auto;
              object-fit: contain;
            }
          }
          > p {
            word-break: break-word;
            flex: 1;
          }
        }
      }
    }
    .wrapper-form-service-detail {
      margin: 0 auto;
      .form-service-detail {
        margin-bottom: 48px;
        > h2 {
          font-family: "Google Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 24px;
          text-align: center;
          color: #000000;
          margin-bottom: 4px;
        }
        > p {
          font-family: "Google Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 21px;
          text-align: center;
          color: #000000;
          margin-bottom: 12px;
        }
        background: #c5aa5f;
        border-radius: 10px;
        padding: 21px 12px;
        margin-top: 16px;
        width: 100%;
        .wrapper-form-content-item {
          padding: 2.5px;

          .form-content-item {
            position: relative;

            input,
            select,
            textarea {
              font-weight: 400;
              font-size: 17px;
              line-height: 20px;
              color: #333333;

              &:focus {
                outline: none;
              }
            }

            input {
              width: 100%;
              height: 40px;
              padding: 0 15px 0 50px;
              background: #ffffff;
              border: 1px solid #d5c39d;
              border-radius: 5px;
              &::placeholder {
                font-family: "Google Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #000000;
              }
            }

            textarea {
              display: block;
              width: 100%;
              height: 94px;
              padding: 12px 15px 12px 50px;
              background: #ffffff;
              border: 1px solid #d5c39d;
              border-radius: 5px;
              resize: none;
              &::placeholder {
                font-family: "Google Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #000000;
              }
            }

            select {
              width: 100%;
              height: 40px;
              padding: 0 15px 0 50px;
              background: #ffffff;
              border: 1px solid #d5c39d;
              border-radius: 5px;
            }

            .icon {
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              display: flex;
              align-items: center;
              justify-content: center;
              width: 38px;
              height: 100%;
              background: #fff8e9;
              border-radius: 4px 0px 0px 4px;
              border: 1px solid #d5c39d;
              border-right: 0;
              > img {
                width: 22px;
                height: 22px;
                object-fit: contain;
              }
            }
          }

          &:nth-last-child(2) {
            .form-content-item {
              .icon {
                align-items: flex-start;
                padding-top: 12px;
                img {
                  width: 22px;
                  height: 22px;
                  object-fit: contain;
                }
              }
            }
          }
        }
        .form-action {
          display: flex;
          margin-top: 12px;
          align-items: center;
          justify-content: space-between;
          .wrapper-form-submit {
            text-align: center;
            background: #411136;
            justify-content: center;
            display: flex;
            width: 100%;
            max-width: 123px;
            height: 42px;
            margin-right: 3px;
            .form-submit {
              text-transform: uppercase;
              color: #ffffff;
              margin: auto;
            }
          }
          .form-cancel {
            margin-left: 3px;
            border: 1px solid #411136;
            background: #ffffff;
            max-width: 123px;
            height: 42px;
            width: 100%;
            font-family: 'Google Sans Bold';
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: #000000;
          }
        }
      }
    }
  }

  .post-relate {
    .post-relate-content {
      .wrapper-title-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 12px;

        .title {
          font-family: "Google Sans Bold";
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 1.5;
          text-transform: uppercase;
          color: #333333;
          margin-bottom: 0;
          @media (min-width: 991px) {
            font-size: 15px;
          }
        }
        a {
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 40px;
          text-align: center;
          color: #000000;
          > img {
            width: 13px;
            object-fit: contain;
          }
        }
      }
      .wrap-analisis-item {
        transition: 0.5s;
        .analisis-item-image {
          width: 100%;
          object-fit: contain;
        }
        .analisis-item-info {
          border: 1px solid #cacaca;
          border-top: none;
          padding: 15px 25px 28px 21px;
          .analisis-item-info-name {
            font-family: "Google Sans Bold";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #333333;
          }
          .analisis-item-info-description {
            font-family: "Google Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-top: 17px;
            color: #000000;
          }
          .analisis-item-info-detail {
            width: fit-content;
            margin-top: 15px;
            cursor: pointer;
            .view-more {
              font-family: "Google Sans";
              font-style: normal;
              font-weight: 400;
              line-height: 23px;
              font-size: 15px;
              color: #333333;
              &:hover {
                color: #c5aa5f;
              }
              > img {
                margin-bottom: 2px;
                margin-left: 4px;
                width: 12px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }

  .wrap-product-detail-item {
    transition: 0.5;
    &:hover {
      .product-detail-item-info {
        border: 1px solid #c5aa5f;
        background: transparent;
        border-top: transparent;
        .product-detail-item-info-name {
          color: #c5aa5f;
        }
        .product-detail-item-info-detail {
          .view-more {
            color: #c5aa5f;
            .view-more-icon-black {
              display: none;
            }
            .view-more-icon-yellow {
              display: inline-block;
            }
          }
        }
      }
    }
    .product-detail-item-image {
      width: 100%;
      overflow: hidden;
      > img {
        width: 100%;
        object-fit: contain;
      }
    }
    .product-detail-item-info {
      border: 1px solid transparent;
      background: #e7dfca;
      padding: 20px 20px 13px;
      .product-detail-item-info-name {
        font-family: "Google Sans Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #411136;
        cursor: pointer;
      }
      .product-detail-item-info-description {
        margin-top: 13px;
        .description-product-detail-item {
          display: flex;
          justify-content: flex-start;
          > img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            margin-right: 10px;
          }
        }
      }
      .product-detail-item-info-detail {
        margin-top: 13px;
        .view-more {
          font-family: "Google Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 23px;
          color: #411136;
          > img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            &.view-more-icon-black {
              display: inline-block;
            }
            &.view-more-icon-yellow {
              display: none;
            }
          }
        }
      }
    }
  }
}
