<footer id="footer" data-aos="fade-up" data-aos-duration="100">
    <div class="container">
        <div class="footer-inner">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="wrapper-content">
                        <a href="#">
                            <div class="wrapper-img">
                                <img src="../images/logo/l-1.png" alt="">
                            </div>
                        </a>
                        <p class="description">
                            TR2 International là Công ty tư vấn phát triển các dự án: bất động sản, chuyên sâu loại hình khách
                            sạn,
                            khu nghỉ dưỡng, nhà hàng theo tiêu chuẩn quốc tế và kết nối cơ hội đầu tư tại Việt Nam. TR2
                            international
                            luôn hướng đến những giải pháp tối ưu và bền vững cho mọi khách hàng
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="wrapper-content">
                        <div class="title">Thông tin liên hệ</div>

                        <div class="wrapper-location">
                            <div class="location-item">
                                <div class="wrapper-icon">
                                    <i class="fa fa-map-pin" aria-hidden="true"></i>
                                </div>
                                <a href="https://www.google.com/maps/place/25+P.+Ho%C3%A0ng+%C4%90%E1%BA%A1o+Th%C3%BAy,+Trung+Ho%C3%A0,+C%E1%BA%A7u+Gi%E1%BA%A5y,+H%C3%A0+N%E1%BB%99i/data=!4m2!3m1!1s0x3135aca175cbe29f:0xdb574cc0dfb9a372?sa=X&ved=2ahUKEwjttKjH4ej6AhVuRmwGHSzTDhIQ8gF6BAgIEAE"
                                    target="_blank" class="text-location">25T2 Hoàng Đạo Thúy, Cầu Giấy, Hà Nội</a>
                            </div>
                            <div class="location-item">
                                <div class="wrapper-icon">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <a href="tel:0916273988" class="text-location">Điện thoại: 0916273988</a>
                            </div>
                            <div class="location-item">
                                <div class="wrapper-icon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>

                                </div>
                                <a href="mailto:support@tr2international.com" class="text-location">Email:
                                    support@tr2international.com</a>
                            </div>
                            <div class="location-item">
                                <div class="wrapper-icon">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                                <a href="#" class="text-location">Website: tr2international.com</a>
                            </div>
                        </div>

                        <div class="wrapper-social">
                            <a href="#" class="social-item">
                                <img src="../images/icons/i-10.png" alt="">
                            </a>
                            <a href="#" class="social-item">
                                <img src="../images/icons/i-11.png" alt="">
                            </a>
                            <a href="#" class="social-item">
                                <img src="../images/icons/i-12.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="wrapper-content">
                        <div class="title">Fanpage facebook</div>

                        <div class="wrapper-icon-face">
                            <img src="../images/icons/i-13.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="wrapper-bottom-footer">
            <p class="text">
                © 2022 Website copyright by <strong><a href="#">Công ty Cổ phần chiến lược quốc tế TR2.</a></strong> Thiết kế
                website bởi Tất
                Thành
            </p>
        </div>
    </div>
</footer>