<section class="top-header">
  <div class="container">
    <div class="top-header-inner">
      <div class="wrapper-logo">
        <a href="/">
          <img src="../images/logo/l-1.png" alt="" />
        </a>
      </div>

      <div class="wrapper-title">
        <h2 class="title">Công ty Cổ phần chiến lược quốc tế TR2</h2>
        <p class="description">luôn hướng đến những giải pháp tối ưu và bền vững cho mọi khách hàng</p>
      </div>

      <div class="wrapper-national">
        <div class="wrapper-img">
          <img src="../images/logo/n-1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<header id="header">
  <div class="container">
    <div class="header-inner">
      <label for="toggle-menu" class="icon-bars">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </label>

      <input id="toggle-menu" type="checkbox">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <img src="../images/icons/i-26.png" alt="">
              Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../images/icons/i-27.png" alt="">
              Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../images/icons/i-28.png" alt="">
              Phân tích chuyên sâu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../images/icons/i-29.png" alt="">
              Dịch vụ</a>
            <div class="wrapper-service-nav">
              <div class="container">
                <div class="wrapper-service-nav-inner">
                  <div class="row">
                    <div class="col-lg-4 col-md-12 col-12">
                      <div class="wrapper-content-left">
                        <h2 class="title">Dịch vụ</h2>
                        <p class="description">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          Lorem
                          Ipsum has been the industry's standard dummy text ever since the 1500s Lorem
                          Ipsum
                          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy
                        </p>

                        <div class="wrapper-btn-more">
                          <a href="#" class="btn-more"> Xem tiếp </a>
                          <img src="../images/icons/i-1.png" alt="" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                      <ul class="sub-nav-service-list">
                        <li class="sub-nav-service-item ">
                          <a href="#" class="sub-nav-service-link">Chiến lượt sản phẩm</a>
                        </li>
                        <li class="sub-nav-service-item"><a href="#" class="sub-nav-service-link">Chiến lượt đầu tư</a></li>
                        <li class="sub-nav-service-item">
                          <a href="#" class="sub-nav-service-link">Chiến lượt phát triển dự án</a>
                        </li>
                        <li class="sub-nav-service-item">
                          <a href="#" class="sub-nav-service-link">Chiến lượt quản lý dự án</a>
                        </li>
                        <li class="sub-nav-service-item">
                          <a href="#" class="sub-nav-service-link">Quản lý đầu tư Khách Sạn/Nghỉ dưỡng</a>
                        </li>
                        <li class="sub-nav-service-item">
                          <a href="#" class="sub-nav-service-link">Dịch vụ môi giới đầu tư/Kinh doanh</a>
                        </li>
                        <li class="sub-nav-service-item">
                          <a href="#" class="sub-nav-service-link">
                            Chiến lược áp dụng IT trong Quản lý & Phát triển doanh nghiệp</a>
                        </li>
                        <li class="sub-nav-service-item">
                          <a href="#" class="sub-nav-service-link">Chiến lược phát triển sản phẩm xanh</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                      <div class="wrapper-img">
                        <img src="../images/product/bg-12.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="../images/icons/i-30.png" alt="" />
              Epap</a>
            <ul class="sub-list">
              <li class="sub-item"><a href="#" class="sub-link">Tìm hiểu thị trường chung</a></li>
              <li class="sub-item"><a href="#" class="sub-link">Tìm hiểu về một thể loại NĐS cụ thể</a></li>
              <li class="sub-item"><a href="#" class="sub-link">TR2 Estimation</a></li>
              <li class="sub-item"><a href="#" class="sub-link">Hỏi đáp</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <label for="toggle-menu" class="coating"></label>
      <div class="wrapper-search">
        <input type="text" class="search" placeholder="Tìm kiếm" />
        <img src="../images/icons/i-31.png" alt="" />
        <button class="wrapper-icon-search">
          <img src="../images/icons/i-2.png" alt="" />
        </button>
      </div>
    </div>
  </div>
</header>